<%- include('header'); -%>

<h2>lorem</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quasi repellat,
  facilis exercitationem illum voluptatem delectus officia necessitatibus
  possimus blanditiis alias quaerat ipsam mollitia. Aliquid commodi at
  laudantium architecto quaerat atque iure! Animi, obcaecati deserunt esse magni
  quod eos omnis dolorem odio consequuntur labore laborum. Porro velit quam eum
  vel.
</p>
<%- include('footer'); -%>